@charset "UTF-8";
/* CSS Document */

.scene-about {
	color: var(--color-background);
	text-align: center;
}

/* ============== scene content ============== */

.about--header p, .about--header-content {
	display: block;
	font-size: 22px;
	font-weight: bolder;
	height: 100%;
	margin: 6px;
	text-align: center;
}

.about--profile-cover {
	background: url("/images/profile_cover2@2x.jpg") repeat top center/600px;
	background-attachment: fixed;
	box-shadow: 0 -30px 30px -30px rgba(0, 0, 0, 0.5) inset, 0 30px 30px -30px rgba(0, 0, 0, 0.5) inset;
	/* border-bottom: 1px solid var(--color-background); */
	display: inline-block;
	height: 170px;
	overflow: hidden;
	padding: 100px 0 0 0;
	width: 100%;
}
.about--profile-cover h1 {
	display: inline-block;
	font-size: 60px;
	color: var(--color-foreground);
	margin: 0;
	padding: 0;
}
.about--profile-cover p {
	display: inline-block;
	color: var(--color-accent);
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	width: 70px;
}
#about--profile-prefix {
	padding-top: 12px;
	text-align: right;
	vertical-align: top;
}
#about--profile-suffix {
	height: 28px;
	vertical-align: bottom;
	text-align: left;
}

.about--profile-cover-shadow {
	background-image: url("/images/image_gradientUp@2x.png");
	background-position: center;
	background-repeat: repeat-x;
	background-size: 20px 20px;
	display: inline-block;
	height: 20px;
	opacity: 0;
	transform: translateY(-100%);
	width: 100%;
	z-index: 2;
}

.about--profile-picture {
	background-color: var(--color-background);
	background: url("/images/profilePic_noShadow2@2x.png") no-repeat left center/contain;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	border-radius: 50%;
	height: 150px;
	display: block;
	float: left;
	padding: 0;
	margin: 0 0 0 6.8%;
	transform: translate(0, -92px);
	width: 150px;
	z-index: 3;
}

.about--profile-links {
	list-style: none;
	margin: 50px auto;
	padding: 0;
	text-align: center;
	width: 280px;
}
.about--profile-links li {
	display: inline-block;
	font-weight: bolder;
	margin: 0 20px;
	padding: 0;
}

.about--profile-links .github div {
	cursor: pointer;
	background: url(/images/icon_github@2x.png) no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .github div:hover {
	background: url(/images/icon_github_alt@2x.png) no-repeat center/cover;
}
.about--profile-links .facebook div {
	cursor: pointer;
	background: url(/images/icon_facebook@2x.png) no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .facebook div:hover {
	background: url(/images/icon_facebook_alt@2x.png) no-repeat center/cover;
}
.about--profile-links .linkedin div {
	cursor: pointer;
	background: url(/images/icon_linkedin@2x.png) no-repeat center/cover;
	display: block;
	height: 45px;
	width: 45px;
}
.about--profile-links .linkedin div:hover {
	background: url(/images/icon_linkedin_alt@2x.png) no-repeat center/cover;
}

.about--container-content {
	/* border: 1px solid var(--color-background); */
	box-shadow: 0 0 4px black;
	margin: 20px auto 0 auto;
	max-width: 800px;
	padding: 1px 30px 80px 30px;
	z-index: 2;
}

.about--content-bio {
	font-size: 14px;
	margin: 40px 20px 40px 20px;
	max-width: 800px;
	padding-bottom: 10px;
	text-align: justify;
}

.about--content-links {
	color: var(--color-dominant);
	font-size: 14px;
	list-style: none;
	margin: 26px 100px 50px 100px;
	text-align: center;
}
.about--content-links li {
	color: var(--color-background);
	display: inline;
	font-weight: bolder;
}
.about--content-links li:hover {
	color: var(--color-dominant);
	cursor: pointer;
}

.about--container-content h1 {
	border-bottom: 1px solid var(--color-background);
	font-size: 18px;
	margin: 12px 0 6px 0;
	padding: 4px 0 0 8px;
	text-align: left;
}

.about--content-list {
	border-bottom: 1px solid transparent;
	display: table;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: left;
  width: 100%;
}

.about--content-list li {
	border: 1px solid transparent;
	border: 1px solid rgba(204,206,208, 1);
  display: inline-table;
  font-size: 14px;
  margin: 2px;
  overflow: visible;
	padding: 6px;
  text-align: left;
	vertical-align: middle;
  width: 120px;
}
.about--content-list li:hover {
	border: 1px solid var(--color-dominant);
}

.about--content-list li .classIcon {
	background: url("/images/icon_class@2x.png") no-repeat center/cover;
	border-radius: 2px;
	display: inline-block;
	float: right;
	height: 20px;
	margin: 0;
	margin-right: 4px;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 20px;
}

.about--content-list li .classIcon div {
	background-color: var(--color-accent-backup);
	border: 1px solid var(--color-background);
	border-radius: 4px;
	color: var(--color-accent);
	display: block;
	margin-left: 26px;
	overflow: visible;
	padding: 4px;
	position: absolute;
	text-align: left;
	visibility: hidden;
	width: 90px;
	z-index: 1;
}
.about--content-list li .classIcon:hover div {
	visibility: visible;
}

.about--content-list li .projectsIcon {
	background: url("/images/icon_projects@2x.png") no-repeat center/cover;
	border-radius: 2px;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 20px;
	margin: 0;
	margin-right: 4px;
	overflow: visible;
	padding: 0;
	position: relative;
	width: 20px;
}
.about--content-list li .projectsIcon:hover {
	background: url("/images/icon_projects_hover@2x.png") no-repeat center/cover;
}
.about--content-list li .projectsIcon:active {
	background: url("/images/icon_projects_active@2x.png") no-repeat center/cover;
}

.about--content-list li .projectsIcon div {
	background-color: var(--color-accent-backup);
	border: 1px solid var(--color-background);
	border-radius: 4px;
	color: var(--color-accent);
	display: block;
	margin-left: 26px;
	overflow: visible;
	padding: 4px;
	position: absolute;
	text-align: left;
	visibility: hidden;
	width: 100px;
	z-index: 1;
}

.about--content-list li .projectsIcon:hover div {
	visibility: visible;
}

.about-padding-bottom {
	display: inline-block;
	height: 60px;
	width: 100%;
}

.scene-divider.about {
	background-color: transparent;
	border: none;
	box-shadow: none;
	height: 0;
	margin: 0;
	padding: 0;
	width: 50%;
}
