@charset "UTF-8";
/* CSS Document */

.contact-scroller {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}

.contact-header {
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
	margin-top:  40px;
	margin-bottom: 0;
	width: 100%;
}

.contact-image-profile {
	background: url(/images/avatar@2x) no-repeat center/contain;
	display: inline-block;
	height: 277px;
	margin: 16px 0;
	padding: 0;
	width: 100%;
}

.contact-name {
	font-size:  38px;
	margin-top: 0;
	width: 100%;
}

.contact-description {
	font-size: 18px;
	font-weight: lighter;
	line-height: 160%;
	margin: 10px auto 30px auto;
	max-width: 620px;
	text-align: justify;
	width: 100%;
}

.contact-container {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 302px;
}

.contact-container-reveal {
	border-top: 1px solid var(--color-background);
	border-bottom: 1px solid var(--color-background);
	height: 30px;
	margin: 20px 0;
	padding: 10px 0 0 0;
	width: 300px;
}

.bonnie {
	color: var(--color-tonic);
	font-size: 18px;
}
.bonnie:after {
  content: attr(data-name) "@" attr(data-domain) "." attr(data-tld);
}
.bonnie:visited {
	color: var(--color-dominant);
}
.clyde {
	cursor: default;
	color: var(--color-background);
	text-decoration: none;
}
.clyde:after {
  content: "(" attr(data-one) ") " attr(data-two) "-" attr(data-three);
}


.scene-contact {
	color: var(--color-background);
	text-align: center;
}
