@charset "UTF-8";
/* CSS Document */

:root {
  --color-background:    rgb(44,54,64);
  --color-foreground:    rgb(234,236,238);
  --color-text:          rgb(234,236,238);
  --color-tonic:         rgb(0,102,153);
  --color-mediant:       rgb(0,119,180);
  --color-dominant:      rgb(51,153,204);
  --color-accent:        rgb(255,204,51);
  --color-accent-backup: rgb(72,88,104);
}

html,
body {
  font-family: Arial;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  height: 0;
  width: 0;
}


/* - - - - - - - - - HEADER - - - - - - - - - */

header {
  background-color: var(--color-background);
  height: 38px;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

header form input {
  background: url("/images/hxr-logo-active@2x.png") no-repeat center/103px;
  background-color: var(--color-foreground);
  border: 1px solid transparent;
  border-bottom-style: hidden;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  display: block;
  height: 38px;
  margin: 0 auto;
  padding: auto;
  text-align: center;
  width: 200px;
}
header form input:hover {
  border-color: var(--color-dominant);
}
header form input:active {
  border-color: var(--color-accent);
}

/* - - - - - - - - - CONTENT - - - - - - - - - */

.content {
  background-color: var(--color-foreground);
  bottom: 38px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 38px;
  width: 100%;
}

.content p {
    color: var(--color-background);
    max-width: 600px;
    margin: 40px auto;
    text-align: center;
    width: 80%;
}
.content-title {
  font-weight: bolder;
  font-size: 22px;
}
.content-body {
  font-weight: normal;
  font-size: 16px;
}
.content-body a {
  color: var(--color-dominant);
}

.graphic {
  background: url(/images/avatar_confused@2x.png) no-repeat center/contain;
  display: inline-block;
  height: 277px;
  margin: 40px 0 20px 0;
  width: 100%;
}

/* - - - - - - - - - FOOTER - - - - - - - - - */

footer {
  background-color: var(--color-background);
  border-top: 1px solid var(--color-foreground);
  bottom: 0;
  height: 38px;
  margin: 0;
  overflow: hidden;
  position: fixed;
	width: 100%;
}

.footer--label-author {
  color: gray;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.footer--label-contact {
  color: gray;
  cursor: pointer;
  left: 10px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-decoration: underline;
  top: 50%;
  transform: translateY(-50%);
}
