@charset "UTF-8";
/* CSS Document */

.products-scroller {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}
.product-icon {
	background: url(../images/product_icon@2x.png) no-repeat center/contain;
	display: inline-block;
	height: 221px;
	margin: 80px 0 16px 0;
	padding: 0;
	width: 100%;
}

.product-author {
	font-size: 18px;
	font-weight: bolder;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	transform: translateY(12px);
	width: 100%;
	max-width: 322px;
}

.product-name {
	font-size: 80px;
	font-weight: bolder;
	margin: 0;
	padding: 0;
	width: 100%;
}

.product-platform {
	font-size: 18px;
	margin: 0 auto 20px auto;
	padding: 0;
	text-align: right;
	width: 100%;
	max-width: 322px;
	transform: translateY(-12px);
}

.product-description {
	font-size: 16px;
	font-weight: lighter;
	line-height: 140%;
	margin: 10px auto 30px auto;
	max-width: 800px;
	text-align: justify;
	width: 100%;
}

.product-imageContainer {
	background-color: var(--color-background);
	display: block;
	height: 320px;
	overflow-x: auto;
	overflow-y: hidden;
	margin: 20px 0 40px 0;
	text-align: left;
	width: 100%;
}

.product-imageContainer ul {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 200px;
}

.product-imageContainer ul li {
	background-color: var(--color-background);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	display: inline-block;
	height: 100%;
	margin: 0 20px;
	transform: scale(1);
	width: 560px;
}
.product-imageContainer ul li:hover {
	cursor: pointer;
}

.product-documentation-header {
	font-size: 22px;
	font-weight: bolder;
	margin: 20px auto 40px auto;
}

.product-documentation {
	background: url(../images/product_documentation@2x.png) no-repeat top center/contain;
	background-color: white;
	border: 1px solid var(--color-background);
	border-radius: 12px;
	display: block;
	height: 400px;
	margin: 20px auto 80px auto;
	max-width: 1000px;
	width: 100%;
}



/* - - - - - - - - Base - - - - - - - - */

.scene-products {
	color: var(--color-background);
	text-align: center;
}
